.App {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  text-align: center;
  color: #1c231f;
  padding: 10px;
}
.inputContainer {
  position: relative;
  width: 20%;
}
.inputField {
  border-radius: 25px;
  border: 1px solid #1c231f;
  width: 100%;
  padding: 15px;
}
.submitButton {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  border-radius: 25px;
  padding: 5px;
  border: none;
}
.charactersCotnainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px;
  width: 100%;
}
.singleCharacter {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  width: 20%;
  padding: 10px;
  border: 1px solid #1c231f;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.characterName {
  cursor: pointer;
}
.movieContainer {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  border: 1px solid #1c231f;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin: 10px 0;
  padding: 10px;
}
